body {
    margin: 0;
    color: #454545;
    line-height: 1.3;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    overflow: hidden;
    color: #EEEEEE;
    background-color: #454545;
    border-bottom: solid 1px darkgray;
}
.navbar a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 18px;
    color: #EEEEEE;
    text-decoration: none;

}

.navbar a:hover {
    background-color: #ddd;
    color: #454545;
    transition:0.2s;
}
.content {
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    text-align: justify;
}


.codeblock {
    font-family: 'Roboto Mono', monospace;
    color: #DDDDDD;
    padding: 1px 5px 3px 15px;
    background-color: #252525;
    border-radius: 10px;
}
.pre {
    font-family: 'Roboto Mono', monospace;
}
